@use 'hero';
@use 'variaveis';
@use 'infos';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: variaveis.$textColor;
}

body {
    background-color: variaveis.$backgroundColor;
    width: 100%;
    height: 100%;

    @media (max-width: 1024px) {
        padding-bottom: 20px;
    }
   
}

.back {
    background-color: rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 100px rgb(248, 205, 205, 1);
    border-radius: 20px;
    max-width: 80vw;
    margin-left: 10%;
    margin-top: 25px;
    padding-bottom:40px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}